<mat-card>
    <app-close-button></app-close-button>

    <mat-card-header>
        <h1>Próximas vacunas</h1>
    </mat-card-header>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of this.nextVaccines">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="notebook-profile"
                        [ngStyle]="{'background':item[0].gender == 'M' ? '#5EB7E6' : '#f1a5eb' }">
                        {{ item[0].personName.slice(0,1).toUpperCase() }}{{ item[0].personLastName.slice(0,1).toUpperCase() }}
                    </span>
                </mat-panel-title>
                <mat-panel-description>
                    <span style="margin: auto 0;" matBadge="{{item.length}}" color="warn" matBadgeOverlap="false"
                        matBadgeSize="small">{{item[0].personName}}
                        {{item[0].personLastName}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let item of item">
                    <!-- <div mat-list-icon>
                        <span class="notebook-profile"
                            [ngStyle]="{'background':item.gender == 'M' ? '#5EB7E6' : '#f1a5eb' }">
                            {{ item.personName.slice(0,1).toUpperCase() }}{{ item.personLastName.slice(0,1).toUpperCase() }}
                        </span>
                    </div> -->
                    <div mat-line>
                        <mat-icon color="primary">error_outline</mat-icon>
                        {{item.name}} Año: {{item.month | monthToYear }} Mes: {{item.month | month }}
                    </div>
                    <span class="spacer"></span>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>







</mat-card>

<!-- {
    "name": "Polio IPV",
    "nif": "45123123",
    "description": "Previene poliomelitis causada por los poliovirus tipo 1, 2 y 3 (trivalente).",
    "inyection": null,
    "personName": "HIja",
    "personLastName": "Hija",
    "month": 4
  }, -->