<mat-drawer-container class="example-container">
    <mat-drawer #drawer [@.disabled]="true">
        <div fxLayout="column">
            <img class="sidenav-logo" src="assets/icons/vacunAPP.png" />
            <mat-list>
                <mat-list-item>Opción 1</mat-list-item>
                <mat-list-item>Opción 2</mat-list-item>
                <mat-list-item>Opción 3</mat-list-item>
            </mat-list>
            <button type="button" (click)="drawer.toggle()" mat-button>
                Cerrar
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar [class.mat-elevation-z6]="true" color="primary">
            <!-- *ngIf="currentUser.user | async as user; else showLogin"  -->
            <span *ngIf="this.authService.currentUser | async as user; else showLogin" style="display: contents;">
                <button type="button" (click)="drawer.toggle()" mat-button>
                    <mat-icon>dehaze</mat-icon>
                </button>
                <span class="spacer"></span>
                <div>

                    <button mat-button class="header-icon">
                        <mat-icon color="accent">perm_identity</mat-icon>
                        <h4 style="font-size:19px" fxFlex fxHide.lt-lg>Menu #1</h4>
                    </button>
                    <button mat-button class="header-icon">
                        <mat-icon color="accent">notifications_none</mat-icon>
                        <h4 style="font-size:19px" fxFlex fxHide.lt-lg>Menu #2</h4>
                    </button>
                    <button mat-button class="header-icon">
                        <mat-icon color="accent">perm_identity</mat-icon>
                        <h4 style="font-size:19px" fxFlex fxHide.lt-lg>Menu #3</h4>
                    </button>
                    <button mat-mini-fab color="accent" style="transform: translate(0px, -7px);"
                        [matMenuTriggerFor]="beforeMenu">
                        <span
                            style="font-size:23px">{{ user.name.slice(0,1).toUpperCase() }}{{ user.lastName.slice(0,1).toUpperCase() }}</span>
                    </button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <p style="margin: 0px 20px;">{{ user.email }}</p>
                        <mat-divider>
                        </mat-divider>
                        <button mat-menu-item>
                            <mat-icon>perm_identity</mat-icon>
                            <span>Mi perfil</span>
                        </button>
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Salir</span>
                        </button>
                    </mat-menu>
                </div>

            </span>
            <ng-template #showLogin>
                <span class="spacer"></span>
                <span>VacunAPP</span>
            </ng-template>
        </mat-toolbar>
    </mat-drawer-content>
</mat-drawer-container>