.header-icon {
  padding: 14px;
}

mat-drawer {
  position: fixed;
  width: 300px;
}

.sidenav-logo {
  height: 100px;
  width: 40%;
  margin: 25px auto;
}

mat-icon {
  margin: auto;
}

.header-logo {
  height:40px;
  width:40px;
}