<mat-list>
    <span style="position: relative;
    float: right;
    right: 12px;">
        <app-close-button></app-close-button>
    </span>
    <div mat-subheader>Personal</div>
    <mat-list-item [routerLink]="['detail', this.me.nif]">
        <div mat-list-icon>
            <span class="notebook-profile" [ngStyle]="{'background':'#674ea7','color':'white' }">

                {{ this.me.name.slice(0,1).toUpperCase() }}{{ this.me.lastName.slice(0,1).toUpperCase() }}
            </span>
        </div>
        <div mat-line>{{this.me.name}}</div>
        <div mat-line> {{this.me.lastName}} </div>
        <span class="spacer"></span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Personas a cargo</div>
    <mat-list-item *ngFor="let person of persons" [routerLink]="['detail', person.nif]">
        <div mat-list-icon>
            <span class="notebook-profile" [ngStyle]="{'background':person.gender == 'M' ? '#5EB7E6' : '#f1a5eb' }">
                {{ person.name.slice(0,1).toUpperCase() }}{{ person.lastName.slice(0,1).toUpperCase() }}
            </span>
        </div>
        <div mat-line>{{person.name}} {{person.lastName}} - {{person.nif}} </div>
        <div mat-line>{{person.bornDate | date}} </div>
        <span class="spacer"></span>
        <!-- <mat-icon>account_circle
        </mat-icon>
        <mat-icon>edit
        </mat-icon> -->
        <!-- <mat-icon color="warn">delete
        </mat-icon> -->
    </mat-list-item>
    <mat-list-item *ngIf="this.persons.length == 0" style="color:blue;text-decoration: underline;cursor: pointer;"
        routerLink="create">
        <p style="margin:auto;">Agregá personas</p>
    </mat-list-item>

</mat-list>
<div class="example-button-container">
    <button style="position: fixed;
    background-color: white;
bottom: 20px;
right: 0;
    left: 0;
    margin: 0 auto;" mat-fab routerLink="create" aria-label="Example icon button with a bookmark icon">
        <mat-icon>add</mat-icon>
    </button>
</div>