mat-card {
    margin: 10px auto;
}

mat-list {
    margin: 10px auto;
    background: white;
    max-width: 95%;
}


mat-icon {
    font-size: 35px;
    transform: translate(-5px, -4px);
    color: white
}

.notebook-profile {
    border-radius: 50%;
    font-size: 17px;
    padding: 8px;
    height: 20px;
    width: 25px;
    background: #80808040;
    color: #674ea7;
    font-weight: 500;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}