mat-card {
    margin: 10px auto;
}

mat-list {
    margin: 10px auto;
    background: white;
}


mat-icon{
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.notebook-profile {
    background: red;
    border-radius: 50%;
    font-size: 17px;
    padding: 8px;
}