<mat-card>

    <mat-card-header>
        <div mat-card-avatar>
            <app-back-button></app-back-button>
        </div>
        <mat-card-title>Detalle</mat-card-title>
        <mat-card-subtitle>Información sobre la persona</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
                <img fxFlex="20" src="assets/icons/no-profile.png">

                <div fxFlex style="margin:10px">

                    <h3>Nombre: <b>{{this.person.name}}</b></h3>
                    <h3>Apellido: <b>{{this.person.lastName}}</b></h3>
                    <h3>DNI:<b>{{this.person.nif}}</b></h3>
                    <h3>Fecha de nacimiento: <b>{{this.person.bornDate | date }}</b></h3>
                    <h3>Sexo: <b>{{this.person.gender}}</b></h3>
                </div>
            </div>
            <div style="margin:10px 0px">
                <mat-divider>
                </mat-divider>
                <mat-tab-group animationDuration="0ms">

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">colorize</mat-icon>
                            Aplicar
                        </ng-template>
                        <mat-list>
                            <mat-list-item color="primary" *ngFor="let vaccine of this.person.vaccines">
                                <div mat-line>{{vaccine.name}}</div>
                                <div mat-line>año: {{ vaccine.month | monthToYear}} Mes:{{ vaccine.month | month}}</div>
                                <span class="spacer"></span>
                                <!-- <mat-icon style="color: black;">report</mat-icon> -->
                                <mat-icon (click)="addNotebook(vaccine)" style="color: green;">add</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">colorize</mat-icon>
                            Validar
                        </ng-template>
                        <mat-list>
                            <ng-container *ngFor="let history of this.person.notebooks">
                                <mat-list-item color="primary" *ngIf="history.center.locale == 0">

                                    <div mat-line>{{history.vaccine.name}} - Mes: {{history.vaccine.month}}</div>
                                    <div mat-line>{{history.applicationDate | date }} {{history.center.name}}</div>
                                    <span class="spacer"></span>

                                    <mat-icon style="color:green" (click)="updateNotebook(history)">upgrade
                                    </mat-icon>
                                </mat-list-item>
                            </ng-container>
                        </mat-list>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
        <sub>Recordar que las vacunas asignadas por usted mismo no tiene validez nacional</sub>

    </mat-card-content>
    <!-- <mat-card-actions align="right">
        <button mat-button>GUARDAR</button>
    </mat-card-actions> -->
</mat-card>