<div style="margin: 10vh;" fxLayout="column" fxLayoutAlign="space-evenly center">
  <img fxFlex class="logo" src="assets/icons/vacunAPP.png" />

  <button class="app-button" mat-raised-button routerLink="/login">Ingresar</button>
  <button class="app-button" mat-raised-button routerLink="/sign-in">
    Crear cuenta
  </button>
  <button class="app-button" mat-raised-button routerLink="/login-prof">
    Ingresar como profesional
  </button>
  <!-- <span style="display: inherit;color:black">
    ¿Olvidaste tu contraseña?.
    <p style="text-decoration: underline; color: #ffd740;cursor: pointer;">Recuperar</p>
  </span> -->
</div>