<div style="margin: 10vh;" fxLayout="column" fxLayoutAlign="space-evenly center">
  <img fxFlex class="logo" src="assets/icons/vacunAPP.png" />

  <button class="app-button" mat-raised-button color="accent" routerLink="/login">Ingresar</button>
  <button class="app-button" mat-raised-button color="accent" routerLink="/sign-in">
    Crear cuenta
  </button>
  <h4 style="display: inherit;color:white">
    ¿No tenes cuenta?.
    <p style="text-decoration: underline; color: #ffd740;cursor: pointer;" routerLink="/sign-in"> Registrate</p>
  </h4>

  <!-- <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="1">
    <mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Federico lombardo</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Mariano García Tejera</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Noelia Peloso</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content> </mat-card
    ><mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Ezequiel Arakaki</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content> </mat-card
    ><mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Mayra Coronel</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content> </mat-card
    ><mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Jorge Jalil</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Juan Manuel Sanchez</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="32">
      <mat-card-header>
        <mat-card-title>Antonela Her Mollins</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>