<mat-card>
    <app-close-button></app-close-button>
    <mat-card-header>
        <mat-card-title>Registrate en VACUNAPP
            <span class="spacer"></span>
        </mat-card-title>
        <mat-card-subtitle>Completá tu registro en 3 simples pasos</mat-card-subtitle>
    </mat-card-header>
    <mat-vertical-stepper [linear]="true" #stepper [@.disabled]="true">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Ingresá tu mail y un password que contenga más de 6 caracteres</ng-template>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>e-mail(*)</mat-label>
                        <input matInput placeholder="e-mail" formControlName="email" maxlength="50">
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-hint>ejemplo@hotmail.com</mat-hint>
                        <mat-error *ngIf="this.firstFormControls.email.errors?.required">Campo requerido
                        </mat-error>
                        <mat-error *ngIf="this.firstFormControls.email.errors?.email">Formato de mail incorrecto
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password(*)</mat-label>
                        <input type="password" matInput placeholder="password" formControlName="password"
                            maxlength="25">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-hint>Introduzca un password mayor a 6 caracteres</mat-hint>
                        <mat-error *ngIf="this.firstFormControls.password.hasError">Introduzca un password mayor a 6
                            caracteres
                        </mat-error>
                    </mat-form-field>
                </p>
                <div>
                    <button mat-button class="sign-in-button" color="primary" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Completá los siguientes campos</ng-template>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre(*)</mat-label>
                        <input matInput placeholder="Nombre" formControlName="name" maxlength="50">
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-error>Campo requerido
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido(*)</mat-label>
                        <input matInput placeholder="Apellido" formControlName="lastName" maxlength="50">
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-error>Campo requerido
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-label>Género(*)</mat-label>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="M">Masculino</mat-radio-button>
                        <mat-radio-button value="F">Femenino</mat-radio-button>
                        <mat-radio-button value="O">Otro</mat-radio-button>
                    </mat-radio-group>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>DNI(*)</mat-label>
                        <input type="text" matInput placeholder="DNI" formControlName="NIF" maxlength=8>
                        <mat-icon matSuffix>mail_outline</mat-icon>
                        <mat-error>Campo requerido y númerico
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de nacimiento(*)</mat-label>

                        <input matInput formControlName="bornDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [startAt]="startDate" #picker touchUi></mat-datepicker>
                        <mat-error>Campo requerido
                        </mat-error>
                    </mat-form-field>
                </p>
                <div>
                    <button mat-button class="sign-in-button" color="primary" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
                <ng-template matStepLabel>Foto</ng-template>
                <mat-label>Para asegurarnos de tu identidad, te pedimos una foto de tu rostro con el DNI</mat-label>
                <p>
                    <input formControlName="photoUrl" style="display: none" type="file" (change)="onFileChanged($event)"
                        #fileInput>
                    <button type='button' mat-raised-button color="accent" (click)="fileInput.click()">Subir
                        foto</button>
                    <img [src]="url" height="200"> <br />
                </p>
                <div>
                    <mat-checkbox formControlName="acceptTerms" color="primary">Acepto terminos y
                        condiciones</mat-checkbox>
                </div>
                <button mat-button class="sign-in-button" type="submit"
                    [disabled]="!thirdFormGroup.valid || this.sendingInfo">Registrarse</button>
            </form>
        </mat-step>
    </mat-vertical-stepper>