<div fxLayout="column" fxLayoutAlign="center" [ngStyle.xs]="{'width': '95%'}" [ngStyle]="{'width': '60%'}"
    style="margin:auto">
    <div style="margin:15px auto" fxFlex>
        <img src="assets/icons/no-profile.png">
    </div>
    <mat-toolbar fxFlex style="display: block;
    text-align: center;    background: black;
    color: white;">
        {{this.authService.currentUserValue.name}} {{this.authService.currentUserValue.lastName}}
    </mat-toolbar>
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="150px" gutterSize="5px">
            <mat-grid-tile class="activeAPP" routerLink="calendar" [class.mat-elevation-z16]="true">
                <div>
                    <p>
                        <mat-icon matBadgePosition="before" matBadge="{{this.pendingVaccines}}" matBadgeColor="warn"
                            matBadgeSize="medium" color="primary" class="menu-icon">event_available
                        </mat-icon>
                    </p>

                    <p>CALENDARIOS</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="activeAPP" routerLink="notebook" [class.mat-elevation-z16]="true">
                <div>
                    <p>
                        <mat-icon color="primary" class="menu-icon">supervisor_account</mat-icon>
                    </p>

                    <p>MIS LIBRETAS</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="activeAPP" routerLink="center" [class.mat-elevation-z16]="true">
                <div>
                    <p>
                        <mat-icon color="primary" class="menu-icon">location_searching</mat-icon>
                    </p>

                    <p>CENTROS</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="activeAPP" routerLink="vaccine" [class.mat-elevation-z16]="true">
                <div>
                    <p>
                        <mat-icon color="primary" class="menu-icon">colorize</mat-icon>
                    </p>

                    <p>VACUNAS</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>