.user-menu {
    background: red;
    height: 100px;
    width: 100px;
    margin: 15px;
}

mat-grid-tile {
    cursor: pointer;
    border-radius: 10px;
    background: #674ea7;
    border-radius: 10px;
    color: #f9f9f9;
    font-size: 17px;


}

mat-grid-tile div {
    width: 100%;
    vertical-align: center;
    text-align: center;
    margin-top: 12px;

}

img {
    vertical-align: middle;
    /* border-radius: 50%; */
    height: 110px;
    width: 120px;
}

.menu-icon {
    font-size: 40px;
    color: white;
    transform: translate(-6px, 3px);
}

mat-toolbar {
    margin: 15px 0;
    font-size: 14px;
}