<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary"  class="contact-header-image">phone</mat-icon></div>        
        <mat-card-title>Contacto</mat-card-title>
        <mat-card-subtitle>Dejanos tu consulta</mat-card-subtitle>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <mat-card-content>
        <h3>Teléfono</h3>
        <p>Llamanos de 9 a 18 de Lunes a Viernes</p>
        <p>0800-555-VACUNAPP</p>
        <mat-divider>
        </mat-divider>
        <h3>E-mail</h3>
        <p>Escribinos un mail y te contestaremos a la brevedad</p>
        <p>Lorem@ipsum.com.ar</p>    
    </mat-card-content>
</mat-card>