<div fxLayout="column" fxFlexFill>
  <div fxFlex>

    <app-header></app-header>

    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <mat-card class="update-the-app" *ngIf="this.updateAvailable">
      <div style="text-align: center">
        Hay una nueva versión disponible
        <button class="update-button" (click)="updateToLatest()" mat-raised-button color="primary">
          Actualizar
        </button>
      </div>
    </mat-card>
  </div>


  <footer class="footbar">
    <p style="text-align: right;
      padding: 14px 10px 0 0;">Powered by vacunAPP - Sponsor UNLZ.</p>
  </footer>
</div>