<mat-card>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
            <div mat-card-avatar>
                <app-back-button></app-back-button>
            </div>
            <mat-card-title>
                Agregar persona a cargo
            </mat-card-title>
            <mat-card-subtitle>Por favor complete los siguientes campos.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" maxlength="50">
                <mat-error>Campo requerido
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="lastName" maxlength="50">
                <mat-error>Campo requerido
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>DNI</mat-label>
                <input matInput formControlName="NIF" type="tel" pattern="\d*" maxlength="8">
                <mat-error>Campo requerido, solo números
                </mat-error>
            </mat-form-field>
            <br>
            <mat-label>Sexo(*)</mat-label>
            <br>
            <div class=".mat-form-field">
                <mat-radio-group color="primary" style="margin: 5px;" formControlName="gender">
                    <mat-radio-button value="M">Masculino</mat-radio-button>
                    <mat-radio-button value="F">Femenino</mat-radio-button>
                    <mat-radio-button value="O">Otro</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
            <div class=".mat-form-field">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de nacimiento(*)</mat-label>
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="bornDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker touchUi></mat-datepicker>
                    <mat-error>Campo requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-flat-button color="primary">Confirmar</button>
        </mat-card-actions>
    </form>
</mat-card>