<mat-card>
    <app-close-button></app-close-button>
    <mat-card-header>
        <mat-card-title>Vacunas</mat-card-title>
        <mat-card-subtitle>Agrupadas por meses</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column wrap" fxLayout.xs="column wrap">
        <ng-container *ngFor="let vaccine of vaccineList">

            <div fxFlex="30" style="width:100%; margin:5px">

                <h2 style="    border-bottom: 3px solid rebeccapurple;    text-align: center;
                    border-top: 3px solid rebeccapurple;">Año {{ vaccine.year - 1}}
                </h2>
                <!-- <h1>{{ vaccine.month | monthToYear}} años {{ vaccine.month | month}} meses</h1> -->

                <mat-accordion *ngFor="let month of vaccine.month" [@.disabled]="true">
                    <h4><b>Mes: {{ month.month | month}}</b></h4>

                    <mat-expansion-panel *ngFor="let vac of month.vaccines" [class.mat-elevation-z1]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ vac.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>{{ vac.description}}</p>
                        <p>{{ vac.inyection}}</p>
                        <p>{{ vac.applicationType}}</p>
                        <p style="color:red">{{ vac.extraInfo}}</p>
                    </mat-expansion-panel>





                </mat-accordion>

            </div>
        </ng-container>
    </mat-card-content>


    <mat-card-actions align="right">
        <button color="warn" (click)="close()" mat-button>Cerrar</button>
    </mat-card-actions>
</mat-card>